<!DOCTYPE html>
<html lang="en" ng-app="demo">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>demo</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/foundation/5.5.3/css/foundation.min.css">
    <!-- <link rel="stylesheet" href="bootstrap-4.0.0/dist/css/bootstrap.min.css"> -->
</head>
<body style="padding:10px;" >
   
    <div ng-controller="FCtrl">
            <!-- <h1>{{realname}}</h1> 
            <h1>{{http}}</h1>  -->
            <input type="text" ng-model="data.msg">
            <h1>{{data.msg}}</h1> 
        <!-- <div ng-bind="'用户名:'+msg"></div> -->
        <!-- <h1>{{reverse()}}</h1> -->
        <!-- <div class="{{msg}}">{{msg}}</div> -->
        <!-- <input type="text" ng-model="user.name">
        <input type="text" ng-model="user.pwd">
        <div class="button" ng-click="login()">登录</div>
        <div ng-show="errormsg.length>0" class="alert-box">{{errormsg}}</div> -->
    </div>
    <div ng-controller="SCtrl">
            <input type="text" ng-model="data.msg">
            <h1>{{data.msg}}</h1>
        </div>
    <div ng-controller="AddressCtrl">
        <ul class="ui-list ui-list-link ui-list-next ui-list-active ui-border-tb">
            <li ng-class="('selected':$first)" ng-repeat="item in list" class="ui-border-t">
                <h4>{{$index+item.address+$first+$last}}</h4>
            </li>
        </ul>
    </div>
    <script src="angular-1.6.9/angular.min.js"></script>
    <script src="myctrl.js"></script>
</body>
</html>