<!DOCTYPE html>
<html lang="en" ng-app="demo">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>demo</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/foundation/5.5.3/css/foundation.min.css">
    <!-- <link rel="stylesheet" href="bootstrap-4.0.0/dist/css/bootstrap.min.css"> -->
</head>
<body style="padding:10px;" >
   
    <div ng-controller="MyCtrl">
            <h1>{{realname}}</h1> 
            <h1>{{http}}</h1> 
            <h1>{{Data.msg}}</h1> 
        <!-- <input type="text" ng-model="msg"> -->
        <!-- <div ng-bind="'用户名:'+msg"></div> -->
        <!-- <h1>{{reverse()}}</h1> -->
        <!-- <div class="{{msg}}">{{msg}}</div> -->
        <!-- <input type="text" ng-model="user.name">
        <input type="text" ng-model="user.pwd">
        <div class="button" ng-click="login()">登录</div>
        <div ng-show="errormsg.length>0" class="alert-box">{{errormsg}}</div> -->
    </div>
    <!-- <div ng-controller="NextCtrl">
            <input type="text" ng-model="msg">
            <h1>{{msg}}</h1>
        </div> -->
    <script src="angular-1.6.9/angular.min.js"></script>
    <script src="myctrl.js"></script>
</body>
</html>