@font-face {
    font-family: 'iconfont';  /* project id 1256899 */
    src: url('http://at.alicdn.com/t/font_1256899_06qga59uhmbu.eot');
    src: url('http://at.alicdn.com/t/font_1256899_06qga59uhmbu.eot?#iefix') format('embedded-opentype'),
    url('http://at.alicdn.com/t/font_1256899_06qga59uhmbu.woff2') format('woff2'),
    url('http://at.alicdn.com/t/font_1256899_06qga59uhmbu.woff') format('woff'),
    url('http://at.alicdn.com/t/font_1256899_06qga59uhmbu.ttf') format('truetype'),
    url('http://at.alicdn.com/t/font_1256899_06qga59uhmbu.svg#iconfont') format('svg');
  }

/* .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  } */

.fontSize{
    width:15px;
    height: 15px;
}

.fontSize1{
    font-size: 20px;
}